.top-header
  grid-area: header
  &__navigation
    background: rgba(0,0,0,0.4)
    display: flex
    justify-content: space-between
  &__languages
    display: flex
    align-items: center
    color: #FFFFFF
    padding: 15px
    background: rgba(0,0,0,0.6)
  &__links
    display: flex
    align-items: center
    color: #FFFFFF
    background: rgba(0,0,0,0.6)
  &__link
    padding: 10px 20px
    margin: 0 5px

.active-link
  color: #daa520
